{% extends "restaurants/base.html" %}

{% block title %}Додати / Редагувати ресторан{% endblock %}

{% block content %}
<h2 class="mb-3">Додати / Редагувати ресторан</h2>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>
{% endblock %}
