{% extends 'hw_18_12/base.html' %}

{% block content %}
<h2>📚 Список книжок</h2>

{% if perms.hw_18_12.add_book %}
    <a href="{% url 'book_create' %}">➕ Додати книгу</a>
{% endif %}

<ul>
    {% for book in books %}
        <li>
            <a href="{% url 'book_detail' book.id %}">
                {{ book.title }} — {{ book.author }}
            </a>

            <!-- Кнопки для редагування і видалення -->
            {% if perms.hw_18_12.change_book %}
                <a href="{% url 'book_update' book.id %}">✏️ Редагувати</a>
            {% endif %}
            {% if perms.hw_18_12.delete_book %}
                <a href="{% url 'book_delete' book.id %}">🗑 Видалити</a>
            {% endif %}
        </li>
    {% empty %}
        <li>Книжок немає</li>
    {% endfor %}
</ul>
{% endblock %}
